# CODEOWNERS - EnrichOS19/Mango-Biz
# Last updated: 2026-01-28
#
# ALL changes to main require Owner (Sean) approval
# Staging branch: dev-team can approve freely

# Everything requires owner approval for main branch
* @seanncl
